<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Portal</title>
  <meta name="description" content="Theo">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/user.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.parsecdn.com/js/parse-latest.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="/js/build/react.js"></script>
  <script src="/js/build/react-dom.js"></script>

</head>
<body>
    <h1>Theo</h1>
    <section id="list"></section>
    <script type="text/babel" src="/js/user.js"></script>
</body>
</html>
