@font-face {
     font-family: Moriston-Medium;
     src: url('/css/Moriston_Personal_License/MoristonPersonal_OTF/MoristonPersonal-Medium.otf');
}
@font-face {
     font-family: Moriston-Light;
     src: url('/css/Moriston_Personal_License/MoristonPersonal_OTF/MoristonPersonal-Light.otf');
}
body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: 'Moriston-Medium'!important;
}

#main {
    width: 500px;
    margin-top: 20px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    /*margin-top: 0;*/
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
input{
  margin: 5px;
}
#submitted{
  display: none;
}
#preview{
  height:80px;
}

.row{
  margin-left:0!important;
  margin-right: 0!important;
}

div{
  margin: 20px;
}
